<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eye Detection Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .loading-bar {
        background: linear-gradient(to right, #4caf50, #8bc34a);
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body class="bg-gray-100">
    <div class="min-h-screen flex flex-col">
      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold text-gray-900">
            Eye Detection Dashboard
          </h1>
        </div>
      </header>
      <main
        class="flex-1 flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
      >
        <div class="w-full space-y-8 flex flex-row gap-10">
          <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Upload Image for Eye Detection
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Upload an image to detect potential eye diseases.
              </p>
            </div>
            <form id="upload-form" class="px-4 py-5 bg-gray-50 sm:p-6">
              <div class="grid grid-cols-1 gap-6">
                <div class="col-span-1">
                  <label
                    for="file-upload"
                    class="block text-sm font-medium text-gray-700"
                    >Image Upload</label
                    >
                    <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                </div>
                <div class="col-span-1">
                  <button
                    type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    Detect Eyes
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div
            id="result"
            class="hidden bg-white shadow overflow-hidden sm:rounded-lg w-6/12"
            style="margin: 0 !important"
          >
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Detection Result
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Eye disease detection percentages.
              </p>
            </div>
            <div class="border-t border-gray-200">
              <dl id="result-details" class="divide-y divide-gray-200">
                <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  <dt class="text-sm font-medium text-gray-500">
                    Image (Eye Lens)
                  </dt>
                  <dd
                    id="uploaded-image"
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  ></dd>
                </div>
                <!-- <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                  <dt class="text-sm font-medium text-gray-500">Remark</dt>
                  <dd
                    id="remark"
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  ></dd>
                </div> -->
                <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  <dt class="text-sm font-medium text-gray-500"> Glaucoma NRG</dt>
                  <dd
                    id="normal"
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  ></dd>
                </div>
                <!-- <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  <dt class="text-sm font-medium text-gray-500">Cataract</dt>
                  <dd
                    id="cataract"
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  ></dd>
                </div> -->
                <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  <dt class="text-sm font-medium text-gray-500">Glaucoma RG</dt>
                  <dd
                    id="glaucoma"
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  ></dd>
                </div>
                <!-- <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  <dt class="text-sm font-medium text-gray-500">
                    Retina Disease
                  </dt>
                  <dd
                    id="retina"
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  ></dd>
                </div> -->
              </dl>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      document
        .querySelector("#upload-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const resultDiv = document.getElementById("result");
          resultDiv.classList.add("hidden");

          Swal.fire({
            title: "Scanning Image..",
            html: "In <b></b> milliseconds.",
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading();
              const timer = Swal.getPopup().querySelector("b");
              timerInterval = setInterval(() => {
                timer.textContent = `${Swal.getTimerLeft()}`;
              }, 100);
            },
            willClose: () => {
              clearInterval(timerInterval);
            },
          });

          // Simulate loading
          setTimeout(() => {
            // Display the result div

            //send image request
            const imageInput = document.getElementById("file-upload").files[0];
            if (!imageInput) {
              Swal.fire({
                title: "Error!",
                text: "Input Image is Empty!",
                icon: "error",
                confirmButtonText: "Close",
              });
              return;
            }

            const formData = new FormData();
            formData.append("image", imageInput);
            Swal.fire({
              title: "Sending Request..",
              html: "In <b></b> milliseconds.",
              timer: 2000,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                  timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
              },
              willClose: () => {
                clearInterval(timerInterval);
              },
            });

            fetch("https://glaucoma-app.onrender.com/predict", {
              method: "POST",
              body: formData,
            })
              .then((response) => response.json())
              .then((data) => {
                Swal.fire({
                  title: "Completed",
                  text: "classification completed",
                  icon: "success",
                  confirmButtonText: "Show Result",
                });
                const resultDiv = document.getElementById("result");
                resultDiv.classList.remove("hidden");
                const uploadedImageDiv =
                  document.getElementById("uploaded-image");
                const fileInput = document.getElementById("file-upload");
                const normalDiv = document.getElementById("normal");
                const remarkDiv = document.getElementById("remark");
                const glaucomaDiv = document.getElementById("glaucoma");

                // Show uploaded image
                uploadedImageDiv.innerHTML = `<img src="${URL.createObjectURL(
                  fileInput.files[0]
                )}" alt="Uploaded Image" class="rounded w-5/12 h-auto">`;

                // Simulate eye disease detection percentages
                normalDiv.innerHTML = `
                    <div class="relative pt-1">
                        <div class="flex mb-2 items-center justify-between">
                            <div>
                                <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-200">NRG</span>
                            </div>
                            <div class="text-right">
                                <span class="text-xs font-semibold inline-block text-indigo-600">${
                                  parseFloat(data.nrg) * 100
                                } %</span>
                            </div>
                        </div>
                        <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-indigo-200">
                            <div style="width:${
                              parseFloat(data.nrg) * 100
                            }%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500 loading-bar"></div>
                        </div>
                    </div>
                `;

                glaucomaDiv.innerHTML = `
                     <div class="relative pt-1">
                         <div class="flex mb-2 items-center justify-between">
                             <div>
                                 <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200">RG</span>
                             </div>
                            <div class="text-right">
                                 <span class="text-xs font-semibold inline-block text-red-600">${
                                   parseFloat(data.rg) * 100
                                 }%</span>
                             </div>
                         </div>
                         <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-red-200">
                             <div style="width:${
                               parseFloat(data.rg) * 100
                             }%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500 loading-bar"></div>
                         </div>
                     </div>
                 `;
              })

              .catch((error) => {
                console.error("Error:", error);
                Swal.fire({
                  title: "Error",
                  text: "Error Occuried",
                  icon: "error",
                });
              });
          }, 2000); // Simulate a delay for loading results
        });
    </script>
  </body>
</html>
